<style>
    nav {
        background-color: #f8f9fa;
        background: rgba(255, 255, 255, 0.2);
        margin: 10px auto;
        padding: 10px 20px;
        border-radius: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
            0 6px 20px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        max-width: 1200px;
    }

    nav ul {
        display: flex;
        gap: 20px;
        list-style: none;
        padding-left: 0;
        margin-top: 15px;
        overflow: hidden;
    }

    nav ul li {
        overflow: hidden;
    }

    nav ul li a {
        text-decoration: none;
        color: #fff;
        padding: 5px 10px;
        overflow: hidden;
    }

    nav ul li a:hover {
        background-color: #e7cdc2;
        border-radius: 20px;
        text-decoration: none;
        color: #413190;
        transition: 0.3s ease-in-out;
    }

    .dropdown_content {
        display: none;
        position: absolute;
        right: 0;
        top: 9%;
        background-color: #f9f9f9;
        border-radius: 20px;
        min-width: 160px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .dropdown_content a {
        text-decoration: none;
        color: #413190;
        display: block;
        padding: 10px;
    }

    .dropdown_content a:hover {
        background-color: #413190;
        color: white;
        border-radius: 20px;
    }

    .formbutton:hover {
        background-color: #413190;
        color: white;
        border-radius: 20px;
    }

    .show {
        display: block;
    }

    nav img {
        margin-right: 20px;
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 20%;
    }

    @media (max-width: 768px) {
        nav {
            flex-direction: column;
            align-items: flex-start;
        }

        nav ul {
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;
        }

        nav img {
            margin-right: 0;
        }
    }
</style>
<nav class="d-flex justify-content-between col-12 mt-3">
    <ul>
        <li><a href="/dashboard">HOME</a></li>
        <li><a href="/profile/friends">PROFILE</a></li>
        <li><a href="/friends/suggestions">ADD FRIEND</a></li>
    </ul>
    <div class="dropdown">
        <img src="../static/icons/Gear.png" alt="gear" class="image">
    </div>

</nav>
<div class="dropdown_content text-center" style="background-color: #e7cdc2;">
    <a href="/edit/form" class="dropdown_item">EDIT PROFILE</a>
    <form action="/logout" method="post" class="dropdown_item text-dark">
        <button type="submit" class="btn formbutton">REST FROM BATTLE</button>
    </form>
</div>
<script src="../../static/js/nav-bar.js"></script>