<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/dashboard_style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</head>

<body>
    <section class="container-fluid d-flex flex-column flex-wrap align-items-center">
        <header class="nav d-flex justify-content-between flex-wrap mt-3 col-12">
            <div class="nav-item user_info d-flex flex-column align-items-center justify-content-center flex-wrap">
                <img src="../static/placeholders/User_cicrle.png" alt="user_image">
                <h3>username</h3>
            </div>
            <div class="nav-item hp d-flex flex-column align-items-center justify-content-center flex-wrap">
                <h1>HP</h1>
                <span class="hpbar"><span class="hpbar_filler"></span></span>
            </div>
            <div class="nav-item inventory d-flex flex-column justify-content-center flex-wrap">
                <h3 class="align-self-center">inventory</h3>
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <img src="../static/items/potion hp 1.png" alt="" class="inventory_icon"><img
                        src="../static/items/revive potion 1.png" alt="">
                </div>
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <img src="../static/items/bean 1.png" alt=""><img src="../static/items/apple.png" alt="">
                </div>
            </div>
            <div>

            </div>
        </header>
        <main>
                <div class="cards d-flex justify-content-around">
                    <div class="quests">
                        <h5>Quests</h5>
                        <ul>
                            <li>
                                <p>Quest title</p>
                            </li>
                        </ul>
                    </div>
                    <div class="chats">
                        <h6>friend name</h6>
                        <div class="message d-flex justify-content-around align-items-center">
                            <p>Send message</p>
                            <img src="../static/icons/plus.png" alt="" width="25px">
                        </div>
                        
                    </div>
                </div>
        </main>
    </section>
</body>

</html>