<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/dashboard_style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</head>

<body>
    <section class="container-fluid mt-5">
        <div class="topbar d-flex justify-content-between">
            <div class="user d-flex flex-column justify-content-between align-items-center">
                <img src="../static/placeholders/User_cicrle.svg" alt="userimage">
                <p>user name</p>
            </div>
            <div class="hpbar d-flex flex-column align-items-center justify-content-center">
                <h1>HP</h1>
                <span class="hp"><span class="hpfiller"></span></span>
            </div>
            <div class="inventory d-flex flex-column">
                <h3 class="align-self-center">inventory</h3>
                <div>
                    <div class="d-flex justify-content-between p-2">
                        <button class="btn"><img src="../static/items/revive potion 1.png" alt=""></button> <button
                            class="btn"><img src="../static/items/bean 1.png" alt=""></button>
                    </div>
                    <div class="d-flex justify-content-between p-2">
                        <button class="btn"><img src="../static/items/apple.png" alt=""></button> <button
                            class="btn"><img src="../static/items/potion hp 1.png" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <div class="quests d-flex flex-column justify-content-between col-3 mt-5">
                <div class="dis_shown d-flex flex-column">
                    <div class="questshead align-self-center text-center mt-3">
                        <h3>Quests</h3>
                    </div>
                    <ul class="quest_list mt-3">
                        <li class="quest p-2">
                            <div class="d-flex justify-content-between">
                                <p class="fw-bold">quest title</p>
                                <button class="btn btn-danger">X</button>
                            </div>
                            <p>description</p>
                        </li>
                    </ul>
                </div>
                <div class="dis_hidden d-flex flex-column">
                    <form action="/create_quest" class="d-flex flex-column">
                        <input type="text" name="quest_name" class="form-control" placeholder="quest name *">
                        <textarea name="description" class="form-control mt-3" placeholder="description"></textarea>
                        <div class="d-flex justify-content-around align-content-center mt-3">
                            <label for="" class="lable_radio">
                                <input type="radio" class="dif" name="difficulty" value="1">
                                <img src="../static/icons/easy.png" alt="">
                            </label>
                            <label for="">
                                <input type="radio" class="dif" name="difficulty" class="lable_radio" value="2">
                                <img src="../static/icons/medium.png" alt="">

                            </label>
                            <label for="">
                                <input type="radio" class="dif" name="difficulty" class="lable_radio" value="3">
                                <img src="../static/icons/hard.png" alt="">
                            </label>

                        </div>
                        <input type="submit" class="quest_btn w-25 align-self-center mt-3" value="accept quest">
                    </form>
                </div>
                <button class="btn align-self-end"><img src="../static/icons/plus.png" alt=""></button>
            </div>

            <div class="character d-flex align-items-center flex-column">
                <img src="../static/charecters/thief 1.png" alt="character" class="w-50">
                <h3>EXP</h3>
                <span class="exp"><span class="expfiller"></span></span>
            </div>
            <div class="quests d-flex flex-column justify-content-between col-3 mt-5">
                <div class="questshead align-self-center text-center mt-3">
                    <h3 class="">friend name</h3>
                </div>
                <div class="msg_history d-flex flex-column p-3">
                    <p>message from user</p>
                    <p class="align-self-end">message from friend</p>
                </div>
                <form action="/send_message" class="d-flex align-items-center">
                    <input type="text" name="message" class="form-control">
                    <button class="btn"><img src="../static/icons/plus.png" alt=""></button>
                </form>
            </div>
        </div>
    </section>
</body>

</html>