<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/landing_page.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div>   
            <p class="mini-text" style="color: white;">LEVEL UP YOUR PRODUCTIVITY AND TURN YOUR DAILY TO-DOS INTO EXCITING CHALLENGES!!</p>
            <button class="button-overlay">GET STARTED</button>
        </div>
        <div class="characters">
            <img src="../static/themes/Group_157.png" alt="characters" width="200px">
        </div>
    </div>
</body>
</html>