<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/user_profile.css">
    <title>User Profile</title>
</head>
<body>
    <div class="container">
        <div class="user_info">
            <div class="setting_icon">
                <img src="../static/icons/Gear.png" alt="settings">
            </div>
            <div class="user_section">
                <img src="../static/icons/user_icon.png" alt="user_icon">
            </div>
            <div class="nav_bar">
                <a href="">Profile</a>
                <a href="">Profile</a>
            </div>
        </div>
    </div>
</body>
</html>