<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/user_profile.css">
    <title>User Profile</title>
</head>
<body>
    <div class="container">
        <div class="user_info">
            <div class="user_nav_bar">
                <img src="../static/icons/Gear.png" alt="settings">
            </div>
            <div class="user_section">
                <img src="../static/icons/user_icon.png" alt="user_icon">
                <div class="info">
                    <ul>
                        <li>Username</li>
                        <li>Location</li>
                        <li>Intrested In</li>
                    </ul>
                </div>
            </div>
            <div class="nav_bar">
                <a href="">Profile</a>
                <a href="">Friends</a>
            </div>
            <div class="user_details_container">
                <div class="left">
                    <div class="title_section_about_me">About Me</div>
                    <div class="about_me">
                    <p>Hi there, my name is Will and I love gaming.</p>
                    </div>
                    <div class="title_section_about_me">Achievements</div>
                    <div class="achievements">
                    <p>Streak Master</p>
                    <p>Streak Master</p>
                    <p>Streak Master</p>
                    </div>
                </div>
                <div class="right">
                    <div class="level">
                        <h1 class="title_section_lvl">Progress</h1>
                        <div class="lvl_progress">
                            <div class="progress_bar">
                                <div class="lvl">hjk</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>