*{
    padding: 0;
    margin: 0;
    font-family: "Luxurious Roman", serif;
    font-weight: 400;
    font-style: normal;
}


.main_register {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../themes/Screenshot\ 2025-01-27\ 133628.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-position: center center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
    border-radius: 30px;
    border: 2px solid beige;
    backdrop-filter: blur(10px);
}

p {
    color: beige;
}

.button button {
    background-color: #1D293D;
    border: #1D293D;
}

i {
    position: absolute;
    top: 30px;
    right: 10px;
    color: black;
}
main{
    background-image: url("../../static/themes/Screenshot\ 2025-01-27\ 133628.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
form{
    width: clamp(300px,40%,450px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}
main section.login-register{
    position: relative;
    width: clamp(300px,60%,550px);
    height: 500px;
    transform-style:preserve-3d;
    transform: rotateY(0deg);
    transition: transform 0;
    transform-origin:center center;
}
main section.login-register:not(.flip-2){
    transform: rotateY(0deg);
    transition: transform 1500ms;
}
main section.login-register form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
}
main section.login-register form:nth-child(2){
    transform: rotateY(90deg);
    transform-origin: right;
    left:0%;
}
main section.login-register.flip-2{
    transform: rotateY(-90deg);
    transition: transform 1500ms;
}
form h2 {
    text-align: center;
    color: aliceblue;
}
form div{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
    position: relative;
    color: white;
}
form div input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: .25s;
}
form div:has(button[type="submit"]) button[type="submit"]{
    background-color: #1D293D;
    color: white;
}
main.dashboard{
    background-image: url("..//themes/light\ mode\ back\ ground.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
}