* {
    margin: 0;
    padding: 0;
    font-family: "Luxurious Roman", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url(../themes/light\ mode\ back\ ground.png);
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

nav {
    background-color: hsla(216, 81%, 62%, 0.621);
    margin: 10px 35px;
    padding: 10px 20px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 150px;
    list-style: none;
    padding-left: 50px;
    margin-top: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav img {
    margin-right: 50px;
    cursor: pointer;
    width: 40px;
    cursor: pointer;
}

.dropdown_content {
    display: none;
    position: absolute;
    right: -8px;
    margin-top: 2px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 20px;
    min-width: 160px;
}

.dropdown_content a {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dropdown_content p a {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 2px 1px;
    background-color: rgb(107, 107, 195);
    border-radius: 20px;
}

.dropdown_content.shown {
    display: block;
}

.dropdown_content:not(.shown) {
    display: none;
}


.user_section {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 15px 35px;
    padding: 40px 50px;
    background-color: #7eb9fcba;
    border-radius: 30px;
}

.info ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    font-size: larger;
}



.nav_bar {
    margin: 35px;
    padding: 25px 35px;
    background-color: #7eb9fcba;
    border-radius: 30px;
    display: flex;
    gap: 150px;
    padding-left: 120px;
    font-weight: bolder;
    font-size: larger;
}

.nav_bar a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}

.nav_bar a:first-child {
    text-decoration: underline;
    color: white;
}

.user_section img {
    padding-left: 5%;
}

.user_details_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin: 10px 35px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: hsla(212, 95%, 74%, 0.729);
    padding: 20px;
    border-radius: 30px;
    width: 65%;
}


.title_section_about_me {
    padding-left: 30px;
    font-size: larger;
    font-weight: bolder;
}
.about_me{
    width: 95%;
    padding: 30px;
    background-color: beige;
    border-radius: 30px;
}

.achievements{
    width: 95%;
    padding: 30px;
    background-color: beige;
    border-radius: 30px;
}

.achievements p {
    padding-bottom: 25px;
}

.right {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    background-color: hsla(212, 95%, 74%, 0.729);
    padding: 129px 20px;
    border-radius: 30px;
    width: 35%;
}


.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.progress-bar {
    width: 80%;
    height: 10px;
    background: #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    width: 70%;
    height: 100%;
    background: #76c7c0;
    border-radius: 5px;
}




